* 	{
	margin:0;
}

.border-none {
	border: none;
}

body {
	width: 100%;
	height: 100%;
	background: url(../images/bg.jpg) fixed repeat-x #000;
 
}

h1 {
	font-size: 18px;
	font-weight: 100;
	color: #d7cc01;
	line-height: 22px;
	text-align: left;
}

#wrapper {
	position: relative;
	height: inherit;
	width: 960px;
	margin: auto; 
	font-family: verdana;
	color: #a8a8a8;
	font-size: 12px;
	line-height: 18px;
	text-align: justify;
}

#header {
	height: 165px;
	width: inherit;
}

#logo {
	margin-top: 20px;
	border: 0;
}

#header-wrap {
	position: absolute; top: 115px; right:0;
	text-transform: uppercase;
}

#header-wrap p {
	color: #eee;
	text-align: right;
	padding-bottom: 10px;
	font-size: 9px;
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	color: #d7cc01;
}

#header-wrap a:hover {
	color: #d7cc01;
}

.yellow {
	color: #d7cc01;
}

.bold {
	font-weight: bold;
}

ul.topnav li {
 display: inline;
}

ul.topnav a {
	color: #eee;
	text-decoration: none;
	font-size: 12px;
	padding: 10px;
}

#content-wrapper {
	width: 852px;
	margin: 5px 0 5px 108px;
}

#banner {
	border: 1px solid #808080;
}

.header-copy {
	width: 230px;
	margin-left: 578px;
	margin-top: 69px;
	}

.events {
	background: url(../images/events_banner.jpg) no-repeat;
	width: 850px;
	height: 243px;
}

.contact {
	background: url(../images/contact.jpg) no-repeat;
	width: 850px;
	height: 243px;
}

.directions {
	background: url(../images/directions.jpg) no-repeat;
	width: 850px;
	height: 243px;
}

.seating {
	background: url(../images/seating.jpg) no-repeat;
	width: 850px;
	height: 243px;
}

.valet {
	background: url(../images/valet.jpg) no-repeat;
	width: 850px;
	height: 243px;
}

.lounge {
	background: url(../images/lounge.jpg) no-repeat;
	width: 850px;
	height: 243px;
}

.rentals {
	background: url(../images/venuerental.jpg) no-repeat;
	width: 850px;
	height: 241px;
}

.production {
	background: url(../images/liveproductions.jpg) no-repeat;
	width: 850px;
	height: 241px;
}

.archive {
	background: url(../images/archives.jpg) no-repeat;
	widows: 850px;
	height: 241px;
}

.white-border {
	border: 1px solid #fff;
}

.thick-white-border {
	border: 2px solid #fff;
}

.top-margin-20 {
	margin-top: 20px;
}

.left-margin-20 {
	margin-left: 20px;
}

.top-margin-40 {
	margin-top: 40px;
}

.top-padding-20 {
	padding-top: 20px;
}

.left-padding-40 {
	padding-left: 40px;
}

.left-margin-425 {
	margin-left: 425px;
	}

.grey-border {
	border: 1px solid #808080;
}

.top-border {
	border-top: 1px solid #808080;
}

.bottom-border {
	border-bottom: 1px solid #808080;
}

.right-border {
	border-right: 1px solid #808080;
}

.left-border {
	border-left: 1px solid #808080;
}

.bigger {
	font-size: 15px;
}


#content-area {
	width: auto;
	margin-top: 5px;
	padding: 15px 0 30px 0;
	min-height: 750px;
	font-size: 12px;
}

#valet-content-area {
	width: 785px;
	border: 1px solid #808080;
	margin-top: 5px;
	padding: 15px 40px 30px 25px;
	min-height: 320px;
	background: rgba(0,0,0,.2);
	font-size: 12px;
}

#content-area img {
	margin-bottom: 10px;
}

#event-content-area {
	width: 785px;
	border: 1px solid #808080;
	margin-top: 5px;
	padding: 15px 40px 30px 25px;
	min-height: 570px;
	background: rgba(0,0,0,.2);
	font-size: 12px;
}

#homepage-events {
	width: 350px;
	float: left;
}

.float-left {
	float: left;
	margin-right: 20px;
}

.float-right {
	float: right;
}

.home-info {
	float: right;
}

#main-event {
	width: inherit;
	height: 200px;
}

#ads {
	margin-top: 20px;
	padding-top:20px;
	border-top:1px solid #808080;
	width: 300px;
}

.main-event-info {
	width: auto;
	margin-right: 30px;
}

.event-info {
	width: auto;
	margin-right:0 ;
	padding-top: 5px;
	text-align: left;
}

.event-info p {
	margin: 8px 0;
}

p.home-band {
	font-size: 18px;
	color: #fff;
	padding-bottom: 15px;
	text-align: left;
}

p.home-days {
	padding-top: 10px;
	font-size: 12px;
}

.event-page-band {
	font-size: 15px;
	text-transform: uppercase;
	text-align: left;
}
 
#sub-wrapper {
	clear: both;
}
 
.sub {
	width: 420px;
	clear: right;
	float: left;
	margin-top: 10px;
}

.events-sub {
	width: 800px;
	clear: right;
	float: left;
	margin-top: 18px;
}

#homepage-copy {
	width: auto;
    margin-left: 350px;
    padding-bottom: 20px;
    height: auto;
    line-height: 20px;
}

.clear-float {
	clear: both;
}

#map {
	float: right;
	margin-left: 25px;
}

#div-left {
	float: left;
	width: 380px;
	margin-right: 40px;
}

#div-right {
	width: auto;
	margin-left: 40px;
}

.keys {
	margin-right: 50px;
}

#content-area.seating {
	padding:25px 33px 20px 32px;
	margin-top: 10px;
}

.center {
	position: 50%;
}

ul.bottom-nav {
	text-align: center;
	list-style: none;
	padding: 20px 0;
}

ul.bottom-nav li {
	display: inline;
	padding: 0 10px;
	font-size: 12px;
	text-transform: uppercase;
}

.copyright {
	text-align: center;
	font-size: 9px;
	margin-bottom: 10px;
}

.us {
	font-size: 8px;
	text-decoration: none;
	text-align: center;
	margin-bottom: 15px;
}
