* 	{
	margin:0;
}

body {
	width: 100%;
	height: 100%;
	background: url(../images/bg.jpg) fixed repeat-x #000;
	
}

#wrapper {
	position: relative;
	height: inherit;
	width: 960px;
	margin: auto; 
	font-family: verdana;
	color: #fff;
}

#header {
	height: 125px;
	width: inherit;
}

#logo {
 	margin: 20px 0 0 0;
}

#header-wrap {
	position: absolute; top: 73px; right:0;
	text-transform: uppercase;
}

#header-wrap p {
	color: #eee;
	text-align: right;
	padding-bottom: 10px;
	font-size: 9px;
}

#header-wrap a {
	color: #eee;
	text-decoration: none;
}

#header-wrap a:hover {
	color: #d7cc01;
}

#header-wrap .yellow {
	color: #d7cc01;
}

ul.topnav li {
 display: inline;
 padding-left:20px;
}

ul.topnav a {
	color: #eee;
	text-decoration: none;
	font-size: 12px;
}

#content-wrapper {
	width: 852px;
	margin: 5px 0 5px 108px;
	background: rgba(0,0,0,.2);}

#banner {
	border: 1px solid #808080;
}

#content-area {
	width: 785px;
	border: 1px solid #808080;
	margin-top: 5px;
	padding: 15px 40px 30px 25px;
	min-height: 430px;
}

#content-area img {
	margin-bottom: 10px;
}

#content-area p {
	color: #808080;
	font-size: 12px;
	line-height: 17px;
}

img.home-header {
	margin-bottom: 40px;
}

#homepage-events {
	width: 500px;
	float: left;
}

.home-info {
	float: right;
}

#main-event {
	width: inherit;
	height: 150px;
}

.main-info {
	position: relative; top: -180px; right: -395px;}
	
#sub-wrapper {
	position: relative; top: -70px; 
}
	
.sub {
	float: left;
}

.space {
	margin-left: 132px;}

#homepage-welcome {
	
	width: 200px;
}


